:root {
  max-width: 1280px;
  margin: 0;
  padding: 0rem;
  text-align: top;
  box-sizing: border-box;
  min-width: 100%; 

  --text: rgb(255, 255, 255);
  --background: rgb(16, 1, 35);
  --primary: rgb(100, 71, 133);
  --secondary: rgb(41, 22, 65);
  --accent: rgb(210, 86, 86);

  background: var(--background);
  color: var(--text); 
}
