:root {
  max-width: 1280px;
  margin: 0;
  padding: 0rem;
  text-align: top;
  box-sizing: border-box;
  min-width: 100%; 

  --text: hsl(0, 0%, 100%);
  --background: hsl(267, 95%, 7%);
  --primary: hsl(268, 30%, 40%);
  --secondary: hsl(267, 49%, 17%);
  --accent: hsl(0, 58%, 58%);

  background: var(--background);
  color: var(--text); 
}
